@font-face {
  font-family: "Modernist";
  src: url("fonts/modernist/Sk-Modernist-Regular.otf");
}

@font-face {
  font-family: "Modernist";
  src: url("fonts/modernist/Sk-Modernist-Regular.otf");
  font-weight: "bold";
}

@font-face {
  font-family: "Modernist Mono";
  src: url("fonts/modernist/Sk-Modernist-Mono.otf");
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #d7686d;
  }
  50% {
		box-shadow: 0 0 0 25px #d7686d;
  }
  100% {
		box-shadow: 0 0 0 0 #d7686d;
  }
}

body {
  width: 50%;
  font-family: "Modernist Mono", sans-serif;
  font-size: 14px;
}

.query {
  position: relative;
}

/* .query .query-keyword::after {
  transition: all 1s ease;
  content: " ";
  position: absolute;
  display: block;
  border-bottom: 3px solid #d7686d;
  width: 0;
  bottom: 0;
  left: 0;
} */

/* .query:hover .query-keyword::after {
  width: 100%;
} */

.query:hover .dot-pulse {
  animation: pulse 1s ease infinite;
}
  
#glossarium-search label, .reference-section {
  font-size: 13px;
  font-family: "Modernist Mono", sans-serif;
}

#query-results h1 {
  font-size: 16px;
}

p {
  margin-bottom: 0;
}

.query-keyword {
  margin-left: 16px;
  position: relative;
  font-size: 18px;
}

.dot-pulse {
  position: absolute;
  top: 8px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #d7686d;
  transition: animation 1s ease;
  z-index: -1;
} 

.query-definition  {
  font: 16px "Modernist Mono";
  line-height: 24px;

  margin: 0;
}

input[name="query"] {
  border: none;
  border-bottom: 2px solid #000;
  font-size: 20px;
  font-weight: bold;
  background-color: transparent;
  width: 85%;
  outline: none;
  font-family: "Modernist Mono";
}

@media screen and (max-width: 600px) {
  body {
    width: 95%;
  }
}